.text-carusel{
    background-image: url("../public/imgs/conexion-1.png");
    background-size: cover;
    background-position: center;
    text-align: center;
}

.difference {
    mix-blend-mode: difference;
  }