@font-face {
  font-family: "Sinteca";
  src: url("/fonts/Sinteca-Regular.otf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sinteca Medium";
  src: url("/fonts/Sinteca-Medium.otf") format("woff2");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Sinteca SemiBold";
  src: url("/fonts/Sinteca-SemiBold.otf") format("woff2");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "New Pixel";
  src: url("/fonts/thatthatnewpixelfamilytest-italicsquare.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Nexus";
  src: url("/fonts/Nexus.ttf") format("truetype");
  font-weight: 1000;
  font-style: normal;
}
@font-face {
  font-family: "Nexus Light";
  src: url("/fonts/Nexus.ttf") format("truetype");
  font-weight: 0;
  font-style: normal;
}

.thatthat {
  font-family: "New Pixel";
}

.sinteca {
  font-family: "Sinteca";
}

.sinteca-med {
  font-family: "Sinteca Medium";
}

.sinteca-sb {
  font-family: "Sinteca SemiBold";
}

* {
  text-wrap: pretty;
  --nexusBlue: #194bf9;
}

.small {
  font-family: "Sinteca";
  font-size: 14px;
}

.body {
  font-family: "Sinteca";
  font-size: 16px;
  letter-spacing: -1%;
}

.body-med {
  font-family: "Sinteca Medium";
  font-size: 16px;
}

.body-large {
  font-family: "Sinteca Medium";
  font-size: 20px;
  letter-spacing: -0.2px;
}
.h5 {
  font-family: "Sinteca Medium";
  font-size: 24px;
  letter-spacing: -0.3px;
  line-height: 110%;
}
.h3 {
  font-family: "Sinteca Medium";
  font-size: 40px;
  letter-spacing: -0.4px;
  line-height: 100%;
}
.h2 {
  font-family: "Sinteca SemiBold";
  font-size: clamp(48px, 4vw, 64px);
  letter-spacing: clamp(-2px, -5px, -0.5px);
  line-height: 100%;
}
.h1 {
  font-family: "Sinteca SemiBold";
  font-size: clamp(100px, 8vw, 150px);
  letter-spacing: clamp(-6px, -10px, -0.5px);
  line-height: 100%;
}
.pixel-sm {
  font-family: "New Pixel";
  font-size: 130px;
  letter-spacing: clamp(-7px, -10px, -24px);
  line-height: 90%;
}
.pixel {
  font-family: "New Pixel";
  font-size: clamp(164px, 12vw, 190px);
  letter-spacing: clamp(-13px, -17px, -24px);
  line-height: 90%;
}
.pixel-strong {
  margin-top: clamp(-45px, 100vw, -60px);
}
.pixel-menu {
  font-family: "New Pixel";
  font-size: 84px;
  line-height: 80%;
}
.nexus-font {
  font-family: "Nexus";
  line-height: 48px;
}
.huella-xxl {
  font-family: "Nexus";
  font-size: clamp(120px, 15vw, 1000px);
  color: var(--nexusBlue);
  line-height: 90%;
}
@media (max-width: 768px) {
  .pixel {
    font-size: 18vw;
    letter-spacing: -5px;
    line-height: 90%;
  }
  .h2 {
    font-family: "Sinteca SemiBold";
    font-size: 8vw;
    letter-spacing: -0.5px;
    line-height: 100%;
  }
}
.black-box {
  display: inline-block;
  width: fit-content;
  background-color: black;
  padding: 0px 20px 0px 20px;
  color: white;
  font-family: "Sinteca";
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 0;
  align-items: flex-start;
  align-self: flex-start;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.white-box {
  display: inline-block;
  width: fit-content;
  background-color: white;
  padding: 0px 20px 0px 20px;
  color: black;
  font-family: "Sinteca";
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 0;
  align-items: flex-start;
  align-self: flex-start;
}

.border-white-box {
  display: inline-block;
  width: fit-content;
  padding: 0px 20px 0px 20px;
  color: white;
  font-family: "Sinteca";
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 0;
  align-items: flex-start;
  align-self: flex-start;
  border: 1px solid white;
}

.border-black-box {
  display: inline-block;
  width: fit-content;
  padding: 0px 20px 0px 20px;
  color: black;
  font-family: "Sinteca";
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 0;
  align-items: flex-start;
  align-self: flex-start;
  outline: 1px solid black;
  outline-offset: -1px;
  &:hover {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    background-color: rgb(196, 209, 226);
  }
}

.blue-box {
  display: inline-block;
  width: fit-content;
  background-color: #194bf9;
  padding: 0px 20px 0px 20px;
  color: white;
  font-family: "Sinteca";
  align-self: flex-start;
}

* {
  scroll-behavior: smooth;
}

.nav-explore {
  width: 64px;
  border: 1px solid var(--nexusBlue);
  transition: all 0.6s cubic-bezier(0.24, 1.03, 0.87, 1.01) 0s;
}
.nav-explore-white {
  width: 64px;
  border: 1px solid white;
  transition: all 0.6s cubic-bezier(0.24, 1.03, 0.87, 1.01) 0s;
}
.nav-explore-active {
  width: 300px;
  background-color: var(--nexusBlue);
  transition: all 0.6s cubic-bezier(0.24, 1.03, 0.87, 1.01) 0s;
}
.nav-explore-white-active {
  width: 300px;
  background-color: white;
  transition: all 0.6s cubic-bezier(0.24, 1.03, 0.87, 1.01) 0s;
}
#explore-holder {
  scroll-snap-type: x mandatory;
}
.explore-card {
  scroll-snap-align: start;
}
.menu-item {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 0;
  span {
    display: inline-block;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    cursor: pointer;
    span {
      transition: all 0.3s ease-in-out;
      transform: translateY(-90px);
    }
  }
}
.menu-open {
  visibility: visible;
  footer {
    transform: translateX(0);
    transition: transform 1s cubic-bezier(0.24, 1.03, 0.85, 0.99) 0.3s;
  }
  nav {
    transform: translateX(0);
    transition: transform 1s cubic-bezier(0.24, 1.03, 0.85, 0.99) 0s;
  }
}
.menu-close {
  visibility: hidden;
  transition: visibility 0s linear 1.45s;
  footer {
    transform: translateX(-100vw);
    transition: transform 0.65s cubic-bezier(0.24, 1.03, 0.85, 0.99) 0s;
  }
  nav {
    transform: translateX(-90vw);
    transition: transform 1.35s cubic-bezier(0.24, 1.03, 0.85, 0.99) 0.125s;
  }
}

.fixed-body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.menuNav {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 36px 36px;
}

.tab {
  display: inline-block;
  width: fit-content;
  padding: 0px 20px 0px 20px;
  color: white;
  font-family: "Sinteca";
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 0;
  align-items: flex-start;
  align-self: flex-start;
  outline: 1px solid white;
  outline-offset: -1px;
  border-radius: 4px;
  transition: all 0.1s ease-in-out;
  &:hover {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    background-color: #315bf5;
    color: white;
    border-radius: 0px;
  }
}
.tab-black {
  display: inline-block;
  width: fit-content;
  padding: 0px 20px 0px 20px;
  color: black;
  font-family: "Sinteca";
  border-radius: 2px;
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 0;
  align-items: flex-start;
  align-self: flex-start;
  outline: 1px solid black;
  outline-offset: -1px;
  border-radius: 4px;
  transition: all 0.1s ease-in-out;
  &:hover {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    background-color: #315bf5;
    color: white;
    border-radius: 0px;
  }
}

.logo_nav {
  &:hover {
    cursor: pointer;
    mix-blend-mode: difference;
    path {
      fill: #e6b406;
    }
  }
}

.burguer-menu-nav {
  &:hover {
    cursor: pointer;
    mix-blend-mode: difference;
    path {
      fill: #e6b406;
    }
  }
}

.cta {
  transition: all 0.3s ease-in-out;
  .white-box{
    transition: all 0.3s ease-in-out;
  }
  figure {
    transition: all 0.3s ease-in-out;
    svg {
      path {
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &:hover {
    background-color: var(--nexusBlue);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 0px;
    .white-box {
      background-color: var(--nexusBlue);
      outline: 1px solid white;
      outline-offset: -1px;
      color: white;
      border-radius: 0px;
      transition: all 0.3s ease-in-out;
    }
    figure {
      background-color: white;
      border-radius: 0px;
      outline: 1px solid white;
      outline-offset: -1px;
      transition: all 0.3s ease-in-out;
      svg {
        path {
          fill: var(--nexusBlue);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

.button{
  &:hover{
    cursor: pointer;
  }
}