
*{
  --nexusBlue: #194bf9;
}

path {
  background-image: url(/public/hero.png);
}



p {
  letter-spacing: -0.4px;
}

.pixel {
  font-family: "New Pixel";
  font-size: 190px;
  letter-spacing: -14px;
  line-height: 90%;
}
.difference {
  mix-blend-mode: difference;
  color: black;
}